In [13]:
import pandas as pd
import numpy as np
df = pd.read_csv("C:/Users/usuario/Desktop/archivos_base_python_data_science_big_data_esencial/basedatos2008.csv", nrows = 1000000)

In [14]:
np.random.seed(0)
df = df[df["Origin"].isin(["HOU","ATL","IND"])] #seleccionamos solo vuelos de estos aereopuertos
df = df.sample(frac=1) #reordenamos 
df = df[0:10000] # seleccionamos estas filas

In [15]:
df ["BigDelay"] = df["ArrDelay"] > 30
observados = pd.crosstab(index=df["BigDelay"], columns=df["Origin"], margins=True) #crosstab nos devuelve la tabla de contingencia cruzada con las variables declaradas
#margin = true indicamos que nos guarde tambien la tabla

In [16]:
observados #AII son los margenes

Origin     ATL   HOU  IND    All
BigDelay
False     6818  1080  641   8539
True      1143   201  117   1461
All       7961  1281  758  10000

In [17]:
from scipy.stats import chi2_contingency

In [18]:
test = chi2_contingency(observados)

In [19]:
test

(2.0203704019430053,
 0.9178156315824011,
 6,
 array([[ 6797.8979,  1093.8459,   647.2562,  8539.    ],
        [ 1163.1021,   187.1541,   110.7438,  1461.    ],
        [ 7961.    ,  1281.    ,   758.    , 10000.    ]]))

In [21]:
esperados = pd.DataFrame(test[3])

In [22]:
esperados

           0          1         2        3
0  6797.8979  1093.8459  647.2562   8539.0
1  1163.1021   187.1541  110.7438   1461.0
2  7961.0000  1281.0000  758.0000  10000.0

In [ ]:
#pendiente terminar video